<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projeto cordel</title>
    opacity: 0.95;

#fixed-header{
    position: sticky;
</head>
<body>
    <header> <!--Cabeçalho linkável, para conexão com as seções e páginas. -->
        <nav>
           <ul>
            <li><a href="#inicio">Início</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#cordeis">Cordéis</a></li>
            <li><a href="#cadastro_login">Cadastro/login</a></li>
           </ul>
        </nav>
    </header>
    <!-- o href esta com o "#" pois sera onde colocaremos o link da tela de login --> 
    <footer>
        <a href="#">home</a>
    </footer>

    <main>
         <!-- Seção Início --> 
        <section>
       <div class="hero" id="#inicio">
            <h1>Cordeleiro</h1>
            <p>A poesia do sertão em suas mãos</p>
            <a href="#sobre" class="bnt">Saiba Mais</a>
        </div>
    </section>
    </main>

   <div id="boas-vindas">
    <h1>muito obrigado pela sua visita!</h1>
    <p> 
        Seja bem-vindo, amigo(a), <br>
        À poesia popular! <br>
        Desejamos que você <br>
        Possa se emocionar, <br>
        Recitar, cantar, sorrir, <br>
        Entre, venha refletir <br>
        Nosso modo de pensar. <br>
    </p>
   </div>
   <!--Rodapé-->
   <footer>@Cordeleiro</footer>
</body>
</html>